.cover-notification {
  .main-notification {
    li {
      display: flex;
      margin-bottom: 24px;

      .right-content {
        padding-left: 16px;
      }

      a {
        display: block;
        width: 160px;
        height: 120px;

        img {
          display: block;
          height: 100%;
        }
      }

      h3 {
        font-size: 16px;
        color: #333;
      }

      p {
        line-height: 19px;
        font-size: 14px;
        color: #333;
        padding: 12px 0;
      }

      .sub-time {
        display: flex;

        span {
          padding-left: 22px;
          padding-top: 5px;
          font-size: 14px;
          color: #444;
          position: relative;

          &::before {
            content: '';
            display: block;
            width: 14px;
            height: 16px;
            background-image: url('../../assets/img/date.png');
            position: absolute;
            left: 0;
            top: 5px;
          }
        }

        button {
          width: 145px;
          height: 26px;
          margin-left: 26px;
          border: none;
          border-radius: 14px;
          background: #E4E6E8;
          cursor: pointer;
        }

      }
    }
  }
}